<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver
		</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.connection.useUnicode">yes</property>
		<property name="hibernate.connection.characterEncoding">UTF-8</property>

		<!-- Assume test is the database name -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test_nexus?characterEncoding=utf8</property>
<!-- 		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/nexus?characterEncoding=utf8</property> -->
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>

		<!-- List of XML mapping files -->
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.Fuel" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.JHistory" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.JNote" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.JProject" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.JStatus" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.JTask" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.JTaskType" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.NexusApplications" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.NexusConfig" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.NexusPerson" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.NexusRole" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.NexusUser" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.ObservedLinksPackage" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.ObservedObject" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.ObservedSite" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.ObservedSiteHistory" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.ProductCategory" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.ProposedProductKay" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.Site" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.SiteType" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.WalletAccount" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.WalletRecord" />
		<mapping class="com.timeron.NexusDatabaseLibrary.Entity.WalletType" />
		

	</session-factory>
</hibernate-configuration>